{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Responsive website template for web design &amp; development agencies</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">    
    <link rel="shortcut icon" href="favicon.ico">  
    <link href='https://fonts.googleapis.com/css?family=Merriweather+Sans:700,300italic,400italic,700italic,300,400' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Russo+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!-- FontAwesome JS-->
    <script type="text/javascript" src="{% static 'assets/plugins/font-awesome/js/fontawesome-all.min.js' %}"></script>
    <!-- Global CSS -->
    <link rel="stylesheet" href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}">   
    <!-- Plugins CSS -->    
    <link rel="stylesheet" href="{% static 'assets/plugins/elegant_font/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/flexslider/flexslider.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/owl-carousel/assets/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/owl-carousel/assets/owl.theme.default.min.css' %}"> 
    
    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="{% static 'assets/css/theme-1.css' %}">

</head> 

<body class="home-page">     
    <div class="header-wrapper header-wrapper-home">
        <!-- ******HEADER****** --> 
        <header id="header" class="header fixed-top">  
            <div class="container">       
                <h1 class="logo">
                    <a href="index.html"><span class="highlight">Dev</span>Studio</a>
                </h1><!--//logo-->
                <nav class="main-nav navbar navbar-expand-md navbar-dark" role="navigation">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div id="navbar-collapse" class="navbar-collapse collapse justify-content-end">
                        <ul class="nav navbar-nav">
                            <li class="active nav-item"><a class="nav-link" href="">Home</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="nossotrabalho.html">Nosso trabalho <i class="fas fa-angle-down"></i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="nossotrabalho.html">Nossos trabalhos</a>
                                    <a class="dropdown-item" href="case-study-1.html">Single Case Study 1</a>
                                    <a class="dropdown-item" href="case-study-2.html">Single Case Study 2</a>
                                    <a class="dropdown-item" href="blog-post.html">Single Blog Post</a>
                                    <a class="dropdown-item" href="404.html">404 Page</a>           
                                </div>
                            </li><!--//dropdown--> 
                            <li class="nav-item"><a class="nav-link" href="sobrenos.html">Sobre Nós</a></li>                                              
                            <li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
                            <li class="nav-item last"><a class="nav-link" href="contato.html">Contato</a></li>
                        </ul><!--//nav-->
                    </div><!--//navabr-collapse-->
                </nav><!--//main-nav-->
            </div><!--//container-->
        </header><!--//header-->  


        {% block content %}

        {% endblock %}

 <!-- *****CONFIGURE STYLE (REMOVE ON YOUR PRODUCTION SITE)****** -->  
 <div class="config-wrapper">
    <div class="config-wrapper-inner">
        <a id="config-trigger" class="config-trigger" href="#"><span class="fs1" aria-hidden="true" data-icon="&#x67;"></span></a>
        <div id="config-panel" class="config-panel">
            <h5>Choose Colour</h5>
            <ul id="color-options" class="list-unstyled list-inline">
                <li class="list-inline-item theme-1 active" ><a data-style="assets/css/theme-1.css" href="#"></a></li>
                <li class="list-inline-item theme-2"><a data-style="assets/css/theme-2.css" href="#"></a></li>
                <li class="list-inline-item theme-3"><a data-style="assets/css/theme-3.css" href="#"></a></li>
                <li class="list-inline-item theme-4"><a data-style="assets/css/theme-4.css" href="#"></a></li>                   
                <li class="list-inline-item theme-5"><a data-style="assets/css/theme-5.css" href="#"></a></li>                     
                <li class="list-inline-item theme-6"><a data-style="assets/css/theme-6.css" href="#"></a></li>
                <li class="list-inline-item theme-7"><a data-style="assets/css/theme-7.css" href="#"></a></li>
                <li class="list-inline-item theme-8"><a data-style="assets/css/theme-8.css" href="#"></a></li>                    
                <li class="list-inline-item theme-9"><a data-style="assets/css/theme-9.css" href="#"></a></li>
                <li class="list-inline-item theme-10"><a data-style="assets/css/theme-10.css" href="#"></a></li>
            </ul><!--//color-options-->
            <a id="config-close" class="close" href="#"><i class="fas fa-times-circle"></i></a>
        </div><!--//configure-panel-->
    </div><!--//config-wrapper-inner-->
</div><!--//config-wrapper-->

<!-- Main Javascript -->          
<script type="text/javascript" src="{% static 'assets/plugins/jquery-3.3.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/plugins/popper.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'assets/plugins/back-to-top.js' %}"></script>                                                                            
<script type="text/javascript" src="{% static 'assets/js/main.js' %}"></script>

<!-- Flexslider -->    
<script type="text/javascript" src="{% static 'assets/plugins/flexslider/jquery.flexslider-min.js' %}"></script> 
<script type="text/javascript" src="{% static 'assets/js/flexslider-custom.js' %}"></script>     

<!-- Form Validation -->
<script type="text/javascript" src="{% static 'assets/plugins/jquery.validate.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'assets/js/form-validation-custom.js' %}"></script>

<!-- Form iOS fix -->
<script type="text/javascript" src="{% static 'assets/plugins/isMobile/isMobile.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/form-mobile-fix.js' %}"></script>

<!-- Owl Carousel -->
<script type="text/javascript" src="{% static 'assets/plugins/owl-carousel/owl.carousel.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'assets/js/owl-custom.js' %}"></script> 


<!-- Style Switcher (REMOVE ON YOUR PRODUCTION SITE) -->
<script src="{% static 'assets/js/demo/style-switcher.js' %}"></script>

</body>
</html> 

