{% extends 'base.html' %}
{% load static %}

{% block content %}    

<!-- ******Contact Section****** --> 
    <section class="contact-section section">
        <div class="container">
            <h2 class="title text-center">Comece seu Projeto Hoje!</h2>
            <p class="intro text-center">Temos anos de experiência para ajudar na construção do seu negócio, suportando todas as decisões tecnológicas. Desde criação e desenvolvimento de sites até projetos customizados. Não perca tempo, tire sua idéia do papel!</p>
            <ul class="contact-info list-inline text-center">
                <li class="tel list-inline-item"><span class="fs1" aria-hidden="true" data-icon="&#x77;"></span><br /> <a href="+5511985824810">(11)9.8582-4810</a></li>
                
                <li class="email list-inline-item"><span class="fs1" aria-hidden="true" data-icon="&#xe010;"></span><br /> <a href="#">contato@blav.tech</a></li>
            </ul>
            <!-- <form id="contact-form" class="contact-form form" method="post" action="#">                    
                <div class="row text-center">
                    <div class="contact-form-inner col-lg-8 col-12 mr-lg-auto ml-lg-auto">
                        <div class="row">                                                                                       
                            <div class="col-md-4 col-12 form-group">
                                <label class="sr-only" for="cname">Nome</label>
                                <input type="text" class="form-control" id="cname" name="name" placeholder="Nome" minlength="2" required>
                            </div>                    
                            <div class="col-md-4 col-12 form-group">
                                <label class="sr-only" for="cemail">Email</label>
                                <input type="email" class="form-control" id="cemail" name="email" placeholder="Email" required>
                            </div>
                            <div class="col-md-4 col-12 form-group">
                                <label class="sr-only" for="cemail">Email</label>
                                <input type="email" class="form-control" id="cemail" name="email" placeholder="Email" required>
                            </div>
                            <div class="col-12 form-group">
                                <label class="sr-only" for="cmessage">Mensagem</label>
                                <textarea class="form-control" id="cmessage" name="message" placeholder="Mensagem" rows="12" required></textarea>
                            </div>
                             <div class="col-12 form-group">
                                <button type="submit" class="btn btn-block btn-cta btn-cta-primary">Enviar</button>
                            </div>                           
                        </div>//row -->
                    <!-- </div> -->
                <!-- </div>//row -->
                <!-- <div id="form-messages"></div> --> 
            <!-- </form>//contact-form -->
            <form action="/saving_contact" method="POST">
                <div class="row text-center">
                    <div class="contact-form-inner col-lg-8 col-12 mr-lg-auto ml-lg-auto">
                        <div class="row">   
                            {% csrf_token %}
                            <div class="col-md-4 col-12 form-group">
                                <label class="sr-only" for="cname">Nome</label>
                                {{ form.contact_name }}
                            </div>         
                            <div class="col-md-4 col-12 form-group">
                                <label class="sr-only" for="cname">Nome</label>
                                {{ form.contact_email }}
                            </div>   
                            <div class="col-md-4 col-12 form-group">
                                <label class="sr-only" for="cname">Nome</label>
                                {{ form.contact_phone }}
                            </div>   
                            <div class="col-12 form-group">
                                <label class="sr-only" for="cmessage">Mensagem</label>
                                {{ form.contact_message }}
                            </div>
                            <!-- {{ form.as_p }} -->
                            <div class="col-12 form-group">
                                <button class="btn btn-block btn-cta btn-cta-primary" type="submit">Enviar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div><!--//container-->
    </section><!--//contact-section-->
    
    <!-- ******Map Section****** --> 
    <section class="map-section section">
        <div class="gmap-wrapper">
            <!--//You need to embed your own google map below-->
            <!--//Ref: https://support.google.com/maps/answer/144361?co=GENIE.Platform%3DDesktop&hl=en -->
            <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d79444.64391671501!2d-0.21428374128957384!3d51.51972634746694!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4876045108e9cad3%3A0x6514817fa6d57c9!2sThe+Web+Kitchen!5e0!3m2!1sen!2suk!4v1469624353093" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe> -->

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.740733815171!2d-46.7108109850226!3d-23.541825684692647!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce57d3376faa91%3A0x4b9f0decc3208539!2sRua+Sarar%C3%A9%2C+287+-+Vila+Madalena%2C+S%C3%A3o+Paulo+-+SP%2C+05452-010!5e0!3m2!1spt-BR!2sbr!4v1539861961446" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div><!--//gmap-wrapper-->
    </section><!--//map-section-->
    
    
    
   

{% endblock %}